/* 프론트팀 작업 파일 */

/* 기본 배경 설정 */
body {
    margin: 0px;
    padding-top: 100px;
    height: 100vh;
    text-align: center;
    background-color: #1C1C1C;
    color: #fff;
}

/* 상단 네비게이션 바 색상 및 사이즈 */
nav {
    background-color: #1C1C1C;
    height: 60px;
}

/* 네비게이션 바 리스트 설정 */
nav#nav1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

/* 네비게이션 바 고정 및 형태 관련 */
nav#nav1, #reportNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: none;
    position: fixed; 
    top: 0; 
    width: 100%;
    height: 80px;
    max-width: 100vw;  
    box-sizing: border-box;
}

/* 신고 페이지 네비게이션 바 텍스트 설정 */
#reportNav a{
    font-size: 28px;
    text-decoration: none;
}

nav#nav1 > a, #reportNav {
    font-size: 24px;
}

/* 신고 페이지 네비게이션 바 고정 */
#reportNav p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

/* 대부분의 글자 색상 흰색 설정 */
#textBox1, .toggleHeader, a, #analyzeBtn, .submitButton, .toggleContent textarea { 
    color: #fff;
}

ul {
    text-align: left;
}

nav#nav1 a, #reportNav a {
    text-decoration: none;
}

nav#nav1 > a {
    font-weight: bold;
}

h2 {
    text-align: center;
    padding: 20px;
}

h3 {
    padding: 10px;
}

/* 글자 입력란 */
#textBox1 {
    margin: 50px;
    margin-top: 10px;
    width: 1200px;
    height: 400px;
    font-size: 20px;
    resize: none;
    border: none;
    outline: none;
    padding: 30px;
    display: inline-block; 
}

/* 해당 글자 입력란 선택 시 아웃라인 나타남 */
#textBox1:focus {
    outline: 1.5px solid #5987ff;
}

#textBox1, .banner {
    background-color: #1B2637;
    padding: 40px;
    text-align: left;
    border-radius: 20px;
}

/* 메인 페이지 배너 설정 */
.banner {    
    width: 1200px;
    font-size: 22px;
    height: 620px;
    padding-left: 80px;
    margin-bottom: 80px;
    display: inline-block; 
}

/* a 링크 텍스트 디자인 설정 */
.bannerTextAno a, .bannerDrugDict a {
    text-decoration: none;
    font-size: 22px;
    background-color: #5987ff;
    padding: 10px 50px 10px 50px;
    border-radius: 30px;
}

.bannerTextAno a {
    float: right;
}

.bannerDrugDict a {
    float: left;
}

.bannerTextAno {
    text-align: left;
}

.bannerDrugDict {
    text-align: right;
}

.bannerDrugDict .lineBox {
    float: right;
}

.bannerTextAno p, .bannerDrugDict p {
    color: #5987ff;
    margin: 70px 0 220px 0;
}

.bannerTextAno, .bannerDrugDict {
    height: 480px;
    padding: 100px 200px 160px 200px;
}

/* 글자 출력되는 부분들 화면 사이즈 조정 */
.suspectPartBox, .drugProbBox, .drugSlangBox {
    min-height: 500px;
    line-height: 2;
    font-size: 22px;
    padding-left: 200px;
    padding-right: 200px;
}

.slangBox > li {
    color:#5987ff;
}

/* 사전에 문제가 있나요? 부분 */
.report {
    display: block;
    text-align: right;
}

.drugProbBox, .textAnoBox, .drugDictBox{
    padding: 40px;
}

.drugSlangBox{
    padding-bottom: 40px;
    padding-top: 40px;
}

/* 화면 분할해주는 파란 선 */
.resultBox, .lineBox, .lineBox2 {
    border-bottom: 1.5px solid #5987ff;
}

.lineBox, .lineBox2 {
    width: 220px;
    padding: 0 30px 0 30px;
}

.lineBox2 {
    margin: 0 auto;
    margin-bottom: 460px;
}

.resultBox {
    width: 1220px;
    height: 40px;
    padding: 30px;
    display: inline-block;
}

/* 파란 테두리 네모 상자 */
.searchBox, .toggleHeader {
    width: 700px;
    height: 50px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}

.searchBox {
    margin-bottom: 70px;
    outline: #5987ff 2px solid;
}

/* 선택 시 흰 테두리 */
.searchBox:focus-within, .submitButton:active #analyzeBtn:active {
    outline: 2px solid #ffffff;
}

.suspectPartBox{
  position: relative;
}

/* 마약 가능성 표시란 */
#kindMessage{
  padding-top: 100px;
  margin: auto;
  text-align: center;
  display: inline-block;
}

/* 글자 입력받는 검색용 박스 */
.textBox2 {
    background: none;
    font-size: 20px;
    border: none;
    outline: none;
    float: left;
    color: #7C7C7C;
    width: 535px;
    padding: 15px;
    padding-right: 0;
    display: inline-flex;
}

/* 검색 및 토글 버튼 설정 */
.searchButton, .toggleButton {
    background-color: transparent;
    float: right;
    width: 50px;
    height: 100%;
    border: none; 
    cursor: pointer;
    display: inline-flex;
    border-radius: 5px;
    transition: transform 0.3s;
}

.toggleButton {
    justify-content: center;
    align-items: center;
}

/* 가장 하단 푸터 박스 */
.footerBox {
    height: 150px;
    color: #5987ff;
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
    padding: 50px;
}

.footerBox a {
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
}

.footerBox > p {
     font-size: 24px;
}

.suspectPartBox li {
    list-style: none;
}

/* 확률 별 글자 색상들 */
.probVeryHigh {
    color: #EF7B7B;
    font-weight: bold;
}

.probHigh {
    color: orange;
    font-weight: bold;
}

.probMedium {
    color: yellow;
    font-weight: bold;
}

.probLow {
    color: #5987ff;
    font-weight: bold;
}

/* 상단 버튼 */
.toggleHeader {
    background: #1C1C1C;
    border: 0;
    padding: 30px 10px 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 0;
    width: 100%;
}

.reasonCho {
    margin: 35px 0 20px 0;
    text-align: left;
    padding: 40px 200px 0 200px;
}

/* 펼쳐지는 영역 */
.toggleContent {
    max-height: 0;       
    overflow: hidden;
    transition: max-height 0.3s ease;
}

/* 신고 내용 작성란 설정 */
.toggleContent textarea {
    width: 100%;
    height: 300px;
    margin: 0;
    resize: none;
    outline: none;
    border-radius: 10px;
    padding: 30px;
    font-size: 20px;
    box-sizing: border-box;
    background-color: #1C1C1C;
}

.toggleContent textarea, .toggleHeader {
    border: 2px solid #5987ff;
}

.count {
    text-align: right;
    font-size: 20px;
    color: #ffffff;
}

.toggleBox {
    padding: 15px 200px 15px 200px;
    margin-bottom: 0;
}

/* 열렸을 때 상태 */
.toggleBox.active .toggleHeader {
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.toggleBox.active .toggleContent {
    max-height: 1000px;
}

.toggleBox.active .toggleContent textarea {
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.toggleBox.active .toggleButton {
    transform: rotate(180deg);
}

/* 신고, 분석 버튼 */
.submitButton, #analyzeBtn {
    border: none;
    height: 80px;
    background-color: #5987ff;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.submitButton {
    margin-top: 150px;
    width: 100%;
}
#analyzeBtn {
    margin: 0;
    width: 1280px;
}