body {
    margin: 0px;
    padding-top: 100px;
    width: 1920px;
    height: 6790px;
    text-align: center;
}

nav {
    background-color: #1F2634;
    height: 60px;
}

nav#nav1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav#nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: none;
    position: fixed; 
    top: 0; 
    width: 100%;
    max-width: 100vw;  
    box-sizing: border-box;
}

nav#nav1 a {
    color: white;
    text-decoration: none;
}

nav#nav1 > a {
    font-weight: bold;
}

h2 {
    color: white;
    text-align: center;
    margin: 0px;
}

h3 {
    color: white;
}

#textBox1 {
    margin: 50px;
    margin-top: 20px;
    width: 900px;
    height: 500px;
    font-size: 20px;
    resize: none;
    color: white;
    border: none;
    outline: none;
    padding: 24px;
    background-color: #414753;
    display: inline-block;  
}

#wrap1 {
    margin: 0px;
    height: 600px;
    background-color: #414753;
}

.menuBox1 {
    height: 50px;
    background-color: #7C7C7C;
}