body {
    margin: 0px;
    padding-top: 100px;
    width: 1692px;
    height: 3000px;
    text-align: center;
}

nav {
    background-color: #1F2634;
    height: 60px;
}

nav#nav1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav#nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: none;
    position: fixed; 
    top: 0; 
    width: 100%;
    max-width: 100vw;  
    box-sizing: border-box;
}

h2, h3, nav#nav1 a, #textBox1, ul *, .report, .infoBox { 
    color: white;
}

ul {
    text-align: left;
}

nav#nav1 a {
    text-decoration: none;
}

nav#nav1 > a {
    font-weight: bold;
}

h2 {
    text-align: center;
    padding: 10px;
}

h3 {
    padding: 10px;
}

#textBox1 {
    margin: 50px;
    margin-top: 10px;
    width: 1200px;
    height: 400px;
    font-size: 20px;
    resize: none;
    border: none;
    outline: none;
    padding: 30px;
    display: inline-block; 
    border-radius: 20px; 
}

.suspectPartBox, .addWordBox, #textBox1, .infoBox {
    background-color: #414753;
    padding: 40px;
    text-align: left;
}

.suspectPartBox, .drugProbBox, .infoBox, .drugSlangBox, .addWordBox {
    min-height: 600px;
    line-height: 2;
    font-size: 22px;
    padding-left: 200px;
    padding-right: 200px;
}

.report {
    display: block;
    text-align: right;
}

.drugProbBox, .textAnoBox, .drugDictBox, .footerBox{
    padding: 40px;
}

.drugSlangBox{
    padding-bottom: 40px;
    padding-top: 40px;
}

.resultBox {
    height: 50px;
    background-color: #5987ff;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

.searchBox {
    width: 600px;
    height: 50px;
    border: #5987ff 4px solid;
    text-align: center;
    display: inline-block;
    margin-bottom: 60px;
    border-radius: 10px;
}

.suspectPartBox{
  position: relative;
}

#kindMessage{
  position: absolute;
  bottom: 50px;
  margin: auto;
  text-align: center;
  
}

.textBox2, .textBox3 {
    background: none;
    font-size: 20px;
    border: none;
    outline: none;
    float: left;
    color: #7C7C7C;
    width: 535px;
    padding: 15px;
    padding-right: 0;
    display: inline-flex;
}

.searchButton {
    background-color: transparent;
    float: right;
    width: 50px;
    height: 100%;
    border: none;
    display: inline-flex;
    border-radius: 5px;
}

.addWordBox {
    text-align: center;
}

.infoBox a {
    text-decoration: none;
}

.footerBox {
    height: 150px;
    background-color: #C3C3C3;
    color: #414753;
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
}

.footerBox a {
    text-decoration: none;
    color: #414753;
    margin-right: 30px;
}

.footerBox > p {
     font-size: 24px;
}

.suspectPartBox li {
    list-style: none;
}