body {
    margin: 0px;
    padding-top: 100px;
    width: 1920px;
    height: 6790px;
    text-align: center;
}

nav {
    background-color: #1F2634;
    height: 60px;
}

nav#nav1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav#nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: none;
    position: fixed; 
    top: 0; 
    width: 100%;
    max-width: 100vw;  
    box-sizing: border-box;
}

h2, h3, nav#nav1 a, #textBox1, ul *, .report { 
    color: white;
}

ul {
    text-align: left;
}

nav#nav1 a {
    text-decoration: none;
}

nav#nav1 > a {
    font-weight: bold;
}

h2 {
    text-align: center;
}

h3 {
    padding: 10px;
}

#textBox1 {
    margin: 50px;
    margin-top: 10px;
    width: 800px;
    height: 400px;
    font-size: 20px;
    resize: none;
    border: none;
    outline: none;
    padding: 30px;
    display: inline-block;  
}

.suspectPartBox, .addWordBox, #textBox1, .infoBox {
    background-color: #414753;
    padding: 40px;
}

.drugProbBox, .textAnoBox, .drugDictBox,  .drugSlangBox, .footerBox{
    padding: 40px;
}

.addWordBox {
    margin: 0px;
    height: 600px;
}

.resultBox {
    height: 50px;
    background-color: #7C7C7C;
}

.searchBox {
    width: 600px;
    height: 50px;
    border: #5987ff 4px solid;
    margin: 10px;
    display: inline-block;
    margin-bottom: 80px;
}

.textBox2, .textBox3 {
    background: none;
    font-size: 20px;
    border: none;
    outline: none;
    float: left;
    color: #7C7C7C;
    width: 535px;
    padding: 15px;
    padding-right: 0;
    display: inline-flex;
}

.searchButton {
    background-color: #7c7c7c;
    float: right;
    width: 50px;
    height: 100%;
    border: none;
    display: inline-flex;
    
}

.footerBox {
    text-decoration: none;
    height: 150px;
    background-color: #C3C3C3;
    color: #414753;
}
.footerBox > p {
     font-size: 24px;
     
}