<!DOCTYPE html>
<html>
    <head>
        <title>drugDict</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <style>
            
        </style>
    </head>
    <body style="background-color: #1F2634;">
        <nav id="nav1">
            <a href="{{url_for('home')}}">SiteName</a>
            <ul>
                <li><a href="{{url_for('textAno')}}">텍스트 분석</a></li>
                <li><a href="{{url_for('drugDict')}}">마약 은어 사전</a></li>
                <li><a href="#">이미지</a></li>
            </ul>
        </nav>
        <div class="drugDictBox">
            <h2>마약 은어 사전</h2>
            <form class="searchBox">
                <input class="textBox2" type="text" placeholder="마약 거래 관련 단어를 입력해주세요...">
                <button class="searchButton" type="submit">

                </button>
            </form>
        </div>
        <div class="resultBox">
            <h3>결과</h3>
        </div>
        <div class="drugSlangBox">
            <h2>마약류 은어</h2>
            <p>
                <p>
                    <ul class="slangBox">
                        <li>은어1: </li>
                        <ol>
                            <li>뜻 1</li>
                            <li>뜻 2</li>
                        </ol>
                    </ul>
                </p>
                <p>
                    <ul class="slangExBox">
                        <li>예문: 예문 내용들</li>
                        <li>유의어: 유의어단어</li>
                    </ul>
                </p>
            </p>
        </div>
        <div class="resultBox">
            <h3>사용자 단어 추가</h3>
        </div>
        <div class="addWordBox">
            <h2>사전에 없는 단어가 있다면 추가해주세요</h2>
            <form class="searchBox">
                <input class="textBox3" type="text" placeholder="단어 추가...">
                <button class="searchButton" type="submit">
                    
                </button>
            </form>
            <h2>양식</h2>
            <p>
                <p>
                    <ul class="slangBox">
                        <li>은어1: </li>
                        <ol>
                            <li>뜻 1</li>
                            <li>뜻 2</li>
                        </ol>
                    </ul>
                </p>
                <p>
                    <ul class="slangExBox">
                        <li>예문: 예문 내용들</li>
                        <li>유의어: 유의어단어</li>
                    </ul>
                </p>
                <a class="report" href="#">사전에 문제가 있나요?</a>
            </p>
        </div>
        <div class="footerBox">
            <p>로고이미지/아이콘</p>
            <a href="#">개인정보처리방침</a>
            <a href="#">이용약관</a>
            <a href="#">청소년보호정책</a>
            <a href="#">고객센터</a>
            <a href="#">SNS링크1</a>
            <a href="#">SNS링크2</a>
        </div>
    </body>
</html>