<!DOCTYPE html>
<html>
    <head>
        <title>HOME</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <style>
            
        </style>
    </head>
    <body style="background-color: #1F2634;">
        <nav id="nav1">
            <a href="{{url_for('home')}}">SiteName</a>
            <ul>
                <li><a href="{{url_for('textAno')}}">텍스트 분석</a></li>
                <li><a href="{{url_for('drugDict')}}">마약 은어 사전</a></li>
                <li><a href="#">이미지</a></li>
            </ul>
        </nav>
        <p>
        </p>
        <footer>
            
        </footer>
    </body>
</html>