<!DOCTYPE html> 
<!-- 남혜진 작업 파일 -->
<html>
    <head>
        <title>textAno</title>  <!-- flask 문법 형식으로 css와 js파일 불러옴 -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        <nav id="nav1">
            <a href="{{url_for('home')}}">SiteName</a>
            <ul>
                <li><a href="{{url_for('textAno')}}">텍스트 분석</a></li>
                <li><a href="{{url_for('drugDict')}}">마약 은어 사전</a></li>
                <li><a href="#">이미지</a></li>
            </ul>
        </nav>
        <div class="textAnoBox">
            <h2>텍스트 분석</h2>
            <textarea id="textBox1"></textarea>
        </div>
        <div class="resultBox">
            <h3>결과</h3>
        </div>
        <div class="suspectPartBox">
            <div class="suspectInnerPartBox">
                <h2>의심되는 부분</h2>
                <p>
                    <ul>
                        <li>단어: </li>
                        <li>해시태그: </li>
                        <li>거래방법: </li>
                    </ul>
                </p>
            </div>
            <h2 id="kindMessage">마약 가능성 표시란</h2>
        </div>
        <div class="resultBox">

        </div>
        <div class="drugProbBox">
                <h2 id="drugProbMessage">이 게시글은 마약 거래 게시글일 가능성이 %로 </h2>
                <p></p>
            </div>
        <div class="footerBox">
            <p>로고이미지/아이콘</p>
            <br>
            <a href="#">개인정보처리방침</a>
            <a href="#">이용약관</a>
            <a href="#">청소년보호정책</a>
            <a href="#">고객센터</a>
            <a href="#">SNS링크1</a>
            <a href="#">SNS링크2</a>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>